<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{!-- <h1>{{title}}</h1> --}}
            {{>header}}
            <p id="about-page"> This site was created by Zehra Kausar Haider.It gives weather of any country of the world</p>
            <img class="potrait" src="/img/me.jpg">
        </div>
       
        {{>footer}}
        {{!-- <p1>Created By {{name}}</p1> --}}
    </body>
</html>
